$primary: #1aa7ec;
$primaryDark: #222c9d;
$primaryLight: #7dd6f6;
$secondary: #4adede;
$secondaryDark: #797ef6;
$border: #cdced2;
$danger: #ed1c24;
$dangerDark: #a50d12;
$gray: #6b6b6b;
$black: #000000;
$white: #ffffff;
$text: #000000;
$midgray: #758694;
$sora: #5697cc;
$darkPink: #c48bc7;
$yellow: #E8C872;
$lemon: #FFF3CF;
$darkgray: #31363F; 
$yellow: '#E8C872';
$lemon: '#FFF3CF';
$darkgray: '#31363F';